@import "tailwindcss";

*{
    
    box-sizing: border-box;
    text-decoration: none;
    
    outline: none;
    scroll-behavior: smooth;
    font-family: 'RobotoCondensed', sans-serif;
    -webkit-tap-highlight-color: transparent;
    
}
::-webkit-scrollbar {
    display: none;
}
