@import "tailwindcss";

*{
    
    box-sizing: border-box;
    text-decoration: none;
    
    outline: none;
    scroll-behavior: smooth;
    font-family: 'PepperHands-Regular', sans-serif;
    -webkit-tap-highlight-color: transparent;
    
}
::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'PepperHands-Regular';
    src: url('../fonts/PepperHands-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}